$mainColor:#181f2a;
$signupbg:#1c2431;
$footer:#0b1523;
$testimonials:#202a3c;
$error:#ff4242;
$cyan:#65e2d9;
$blue:#339ecc;

@import "base";
@import "header";
@import "contentMain";
@import "section";
@import "footer";
@import "form";


